@font-face {
    font-family: 'Segoe UI Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Regular'), url('Segoe UI.woff') format('woff');
}
    
@font-face {
    font-family: 'Segoe UI Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Italic'),url('Segoe UI Italic.woff')format('woff');
}

@font-face {
    font-family: 'Segoe UI Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold'), ur('Segoe UI Bold.woff') forma('woff');
}

@font-face {
    font-family: 'Segoe UI BoldItalic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI BoldItalic'), url('Segoe UI BoldItalic.woff') format('woff');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 5000px;
}

body::before {
    width: 100%;
    height: 180px;
    content: '';
    position: absolute;
    top: 0;
    z-index: -1;
    background-color: #358533;
}

header #header-portal {
    padding: 0 170px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: #242424;
}

header #header-portal h1 {
    display: flex;
}

header #header-portal img {
    width: 102px;
}


header #header-portal nav ul {
    display: flex;
    gap: 31px;

    list-style: none;
}

header #header-portal nav ul li a {
    display: flex;
    align-items: center;
    gap: 9px;

    text-decoration: none;

    color: #747474;
    font-family: sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

header #header-portal nav ul li a:hover {
    color: #fff;
}

header #header-portal nav img {
    width: 35px;
    height: 35px;
}

/*  ||||||||||||||||||||||||||     */

#second-nav {
    position: sticky;
    top: 0;
    z-index: 1;

    padding: 17px 170px;
    background: #348533cb;

    display: flex;
    align-items: center;
}

#title-page {
    display: flex;
}

#linha {
    margin-left: 32px;
    width: 2px;
    height: 57px;

    background: #FFF;
}

#second-nav h2 img {
    width: 209px;
}

#second-nav ul {
    margin: auto;
    list-style: none;
    display: flex;
    align-items: center;

    gap: 40px;
}

#second-nav ul li a {
    color: #FFF;
    font-family: "Segoe UI";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
}

/* |||||||||||||||||||||||||||||||||||||||||| */

#banner-gamepass {
    background: #EDEDED;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    padding: 8px 170px;
    display: flex;

    justify-content: center;
}

#banner-gamepass div {
    display: flex;
    align-items: center;
    gap: 11px;
}

#banner-gamepass div p {
    color: #0F7A10;
    font-family: "Segoe UI";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#banner-gamepass img {
    width: 192px;
}

#banner-gamepass div img {
    margin-right: 108px;
    width: fit-content;
}

/* ||||||||||||||||||||||||||| */

#banner-controles {
    margin-top: 34px;
    padding: 0 170px;

    position: relative;
}

#banner-controler img {
    width: fit-content;
    object-fit: cover;
}

#banner-controles span {
    display: flex;
    flex-direction: column;
    gap: 6px;

    position: absolute;
    top: 50%;
    left: 250px;
    transform: translate(0, -50%);
}

#banner-controles span img {
    width: 100%;
    object-fit: cover;
}

#banner-controles span h3 {
    color: #000;
    font-family: sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#banner-controles span p {
    color: #000;
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#banner-controles span a {
    color: #094810;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    width: fit-content;
}

#banner-controles span a::after{
    content: url(assets/icons/seta.svg);
    margin-left: 10px;
}
